
body {
    background-color:  #e8f2f9;
    font-family: 'Fredoka One', cursive
}

#questionMark{
    border: none;
    padding: 0;
    height: 0;
    fill: #fab004;
  }

nav {
    padding-left:15px;
    background-color: #fff4ad;
    border-bottom: 0.7em solid #faa404 ;
margin-bottom: -1em;
    
}

.hitbox{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
  }
.hitbox:hover{
    font-size: 1.15em;
}

.window.item {
    display: inline-block;
font-size: 1em;
     width: 14em;
     height: 3.2em;
     text-align: center;
    margin-right: 0.4em;
    margin-top: 0.85em;
    margin-bottom: 0.35em;
     transform: skewX(25deg);
     border-top-right-radius: 0.5em;
     transition: all 0.2s linear;
     box-sizing: border-box;
    transition: 0.35s;
    border-top: 0.2em solid #fab004;
    border-right: 0.2em solid #fab004;
    background-color: #fab004;
    

}


.window.item a{

    transition: 0.2s;
}
.window.item :active{
   color: rgba(0, 0, 0, 0.5);
   font-size: 1.07em;
}
.window.item:hover {
   
    border-top: 0.2em solid #ffc800;
    border-right: 0.2em solid #ffc800;
    background-color: #ffc800;
}
.window.item:active{
border-top: 0.2em solid rgba(255, 205, 22, 0.349);
border-right: 0.2em solid rgba(255, 205, 22, 0.349);  
    background-color: rgba(255, 205, 22, 0.349);
}

.window.item a {
    transform: skew(-25deg) !important;
    color: #0c0c0c;
    display: block;
    text-decoration: none;
    align-self: center;
    bottom: 0;
}

nav {
    margin: 0;
    padding: 0;
}
div #calendario:hover{
    background-color: #53c75d;
    border-color: #53c75d;
}
div #proyectos:hover{
    background-color: #6ba5fc;
    border-color:  #6ba5fc;
}

div #pomodoro:hover{
    background-color: #ff7974;
    border-color: #ff7974;
}
div #notas:hover{
    background-color: #c484ff;
    border-color: #c484ff; 
}



div #calendario:active{
    background-color: #52c75c62;
    border-color: #52c75c00;
}
div #proyectos:active{
    background-color: #6ba5fc67;
    border-color:  #6ba5fc00;
}
div #pomodoro:active{
    background-color: #ff797477;
    border-color: #ff797400;
}
div #notas:active{
    background-color: #c484ff8a;
    border-color: #c484ff00;
}





.homeButton svg:hover {
    fill: #ff8800 ;
    transform: scale(1.015);
    
}

.homeButton svg{
    fill: #faa404;
    margin-top: 0.35em;
    margin-left: 2.25em;
    transition: 0.2s;
    height: 4.2em;
    width: 4.2em;

}
.homeButton svg:active{
fill: rgba(255, 149, 28, 0.555);
transform: scale(0.9);
}

div a svg{
    fill: #ff9e00;
    
}

div a.perfilBoton svg{
    fill: #0c0c0c;
    
}

.perfilBoton{
    transform: scale(1.2);
}

.perfil a {
    background-color: #faa404;
    border-radius: 2em;
    
    
  
   
}

a.perfilBoton:hover {
    transform: scale(1.4);
}

a.perfilBoton {
    transition: 0.2s;
}

a.perfilBoton:active{
    transform: scale(1.2);
    opacity: 0.7;
}
.col a {
    font-size: 1em;
}

div.col {
    transform: scale(0.85);
    font-size: 0.8em;
}

div.col svg {
    transform: scale(0.85);
}

h1 {
    margin: 20px;
    font-size: 2.2em;
}

.tit {
 font-size: 5em;
}

body .content {
    margin: 20px;
}

.modalStuff {
    border-radius: 50px;
   
    padding: 20px;
    border: none;
}

.modalStuff:nth-of-type(1) {
  
    background-color: tomato;
  
}

.modalStuff:nth-of-type(2) {
    background-color: #3158d6;
}

.carousel  {
    width: 40em;
    box-shadow: 2px 2px 10px 2px #000000;
   
}

.carousel-control-prev {
    fill: black;
   
}


@media screen and (max-width: 769px){

    
    .col a {
        font-size: 0.8em;
    }

    div.col {
        transform: scale(0.85);
        font-size: 0.8em;
    }

    div.col svg {
        transform: scale(0.85);
    }


}

@media screen and (max-width: 574px){

   
    .col a {
        font-size: 0.7em;
    }

    div.col {
        transform: scale(0.7);
        font-size: 0.7em;
    }

    div.col svg {
        transform: scale(1.2);
    }


}

