
body {
    background-color:  #ffffff;
    font-family: 'Fredoka One', cursive;
  
    
}

#questionMark{
    border: none;
    padding: 0;
    height: 0;
    fill: #fab004;
  }

html,
body {
    height: 100%;
    margin: 0;
}
nav {
    padding-left:15px;
    background-color: #fff4ad;
    border-bottom: 1.9em solid #c484ff;
margin-bottom: -1em;

}
.hitbox{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
  }


.window.item {
    display: inline-block;
font-size: 1em;
     width: 14em;
     height: 3.2em;
     text-align: center;
    margin-right: 0.4em;
    margin-top: 0.3em;
     transform: skewX(25deg);
     border-top-right-radius: 0.5em;
     transition: all 0.2s linear;
     box-sizing: border-box;
    transition: 0.35s;
    border-top: 0.2em solid #fab004;
    border-right: 0.2em solid #fab004;
    background-color: #fab004;
    padding: 0!important;
    

}
.window.item:hover {

    font-size: 1.1em;
}

.window.item a {

    transition: 0.12s;
}
.window.item a:active{
   color: rgba(0, 0, 0, 0.5);
   font-size: 0.96em;
}
.window.item:hover {
   
    border-top: 0.2em solid #ffc800;
    border-right: 0.2em solid #ffc800;
    background-color: #ffc800;
}
.window.item:active{
border-top: 0.2em solid rgba(255, 205, 22, 0.349);
border-right: 0.2em solid rgba(255, 205, 22, 0.349);  
    background-color: rgba(255, 205, 22, 0.349);
}

.window.item a {
    transform: skew(-25deg) !important;
    color: #0c0c0c;
    display: block;
    text-decoration: none;
    align-self: center;
    bottom: 0;
}

nav {
    margin: 0;
    padding: 0;
}

#notas {
    border-top: 0.2em solid #c484ff;
    border-right: 0.2em solid #c484ff;
    background-color: #c484ff;
   


    width: 13em;
     height: 3.9em;
     font-size: 1em;
     margin-bottom: -0.1em;

}div #calendario:hover{
    background-color: #53c75d;
    border-color: #53c75d;
}
div #proyectos:hover{
    background-color: #6ba5fc;
    border-color:  #6ba5fc;
}
div #pomodoro:hover{
    background-color: #ff7974;
    border-color: #ff7974;
}



div #calendario:active{
    background-color: #52c75c62;
    border-color: #52c75c00;
}
div #proyectos:active{
    background-color: #6ba5fc67;
    border-color:  #6ba5fc00;
}
div #pomodoro:active{
    background-color: #ff797477;
    border-color: #ff797400;
}


.homeButton svg:hover {
    fill: #ff8800 ;
    transform: scale(1.015);
    
}

.homeButton svg{
    fill: #faa404;
    margin-top: 0.35em;
    margin-left: 2.25em;
    transition: 0.2s;
    height: 4.2em;
    width: 4.2em;

}
.homeButton svg:active{
fill: rgba(255, 149, 28, 0.555);
transform: scale(0.9);
}

div a svg{
    fill: #ff9e00;
    
}

div a.perfilBoton svg{
    fill: #0c0c0c;
    
}

.perfilBoton{
    transform: scale(1.2);
}

.perfil a {
    background-color: #faa404;
    border-radius: 2em;
    
    
  
   
}

a.perfilBoton:hover {
    transform: scale(1.4);
}

a.perfilBoton {
    transition: 0.2s;
}

a.perfilBoton:active{
    transform: scale(1.2);
    opacity: 0.7;
}
.col a {
    font-size: 1em;
}

div.col {
    transform: scale(0.85);
    font-size: 0.8em;
}

div.col svg {
    transform: scale(0.85);
}



@media screen and (max-width: 769px){

    
    .col a {
        font-size: 0.8em;
    }

    div.col {
        transform: scale(0.85);
        font-size: 0.8em;
    }

    div.col svg {
        transform: scale(0.85);
    }


}

@media screen and (max-width: 574px){

   
    .col a {
        font-size: 0.7em;
    }

    div.col {
        transform: scale(0.7);
        font-size: 0.7em;
    }

    div.col svg {
        transform: scale(1.2);
    }


}

.notes {
    display: flex;
    max-height: 84.6vh;


}

.notes * {
    font-family: sans-serif;
}

.notes__sidebar {background: rgb(196,132,255);
    background: linear-gradient( rgba(196,132,255,1) 5%, rgb(133, 0, 182) 55%,rgb(133, 0, 182) 85%);
  
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
    font-weight: bold;
}

.notes__add {
    background: #009578;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.notes__add:hover {
    background: #00af8c;
}

.notes__list-item {margin-bottom: 0.71em;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 7px;
}

.notes__list-item--selected {
    background: #ffffff;
    border-radius: 7px;
    font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
    padding: 10px;
}

.notes__small-title {
    color: #ffffff;
    font-size: 1.2em;
}
.notes__list-item--selected .notes__small-updated{
    color: #a1a1a1;
}
.notes__list-item--selected .notes__small-title{
    color: black;
} .notes__list-item--selected .notes__small-body{
    color:rgb(43, 43, 43);
}
.notes__small-body {
    overflow-wrap: break-word;
    color: #ffffff;
    padding: 0 10px;
}

.notes__small-updated {
    color: #ececec;
    font-style: italic;
    text-align: right;
}

.notes__preview {  
   height: 83.4vh;
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
}

.notes__title {
    font-size: 3em;
    font-weight: bold;
}

.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
}
/* width */
::-webkit-scrollbar {
    width: 11px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #c890fc;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
      height: 1em;
      background: #fab004;
   
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(224, 134, 0);
  }
  .notes__body::-webkit-scrollbar-track{
    background: #ebe9e9;
  
  }

