body {
  font-family:  'Fredoka One';
  background-color: #0c79c1;
  color: #fff;
  margin: 0
}
.app-wrapper {
}
* {
  box-sizing: border-box;
}
.hidden {
  display: inline-block;
}
.board {background: rgb(30,129,204);
  background: linear-gradient( rgba(30,129,204,1) 0%, rgba(12,121,193,1) 15%);
  justify-content: center;
  justify-content: center;
  overflow: auto;
  padding: 20px;
  display: flex;
  flex: 1;
  position: absolute;
  left: 0;
  right: 0;
 
  padding-right: 15px;
}
.list {
  
  overflow-wrap: normal;
  display: inline-block;
 height: 69vh;
  flex: 0 0 27vw;
  vertical-align: middle;
  overflow: auto;
  padding: 8px;
  border-radius: 8px;
  background: #f8f8f8;
  margin-top: 2 4px;
  margin-bottom: 14px;
  margin-right: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.card{
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  padding: 8px 10px;
 transition: all 0.3 ease;
  color: rgb(24, 24, 24)
}
.card:hover {
  box-shadow: 1px 2px 5px black;
}
.card:active{
  opacity: 0.5;
}
.card.dragging {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);

}
.card-placeholder {
  display: block;
  height: 34px;
  border: 1px dashed rgb(131, 131, 131);
  margin: 3px 0;
  border-radius: 5px;
  
}
 #list_1 .card{
 color: rgb(243, 36, 0);
}
#list_2 .card{
  color: rgb(243, 186, 0);
 }
 #list_3 .card{
  color: rgb(20, 196, 4);
 }
.listname {
  margin: 0 0 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
  padding: 5px;
  border-bottom: 1px dashed #ddd;
  text-overflow: ellipsis;
  user-select: none;
}
.listname > span {
  float: right;
  font-weight: normal;
  font-size: 13px;
}

.header {
  padding: 20px;
  height: 70px;
  position: relative;
  background-color: #09446b;
}
.logo {
  margin: 0;
  display: inline-block;
}
.logo small {
  font-size: 9px;
  font-weight: normal;
  color: rgba(255,255,255,0.5);
  display: block;
  text-align: right;
  letter-spacing: 1px;
}
.form-add-todo,
.form-add-list {

  display: inline-block;
  padding: 10px 20px;
  background: rgb(107,165,252);
  background: linear-gradient( rgba(107,165,252,1) 20%, rgb(30, 129, 204) 95%);

}
.formularios{
  background: rgb(107,165,252);
  background: linear-gradient( rgba(107,165,252,1) 20%, rgb(30, 129, 204) 95%);
}
.form-add-todo input,
.form-add-list input {
  margin-left: 10px;
  width: 14em;
  
}
.form-add-list {
  float: right;
  
  bottom: 0;
  right: 0;
  left: 0;
}
input[type=text] {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 13px;
}
.total-card-counter {
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 15px;
}
